body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 428px) {
  .app {
    display: block;
  }
  .widgets--input {
    margin-left: 0px !important;
  }
  .widgets--widgetContainer {
    margin-left: 0px !important;
  }
  .timeline--header {
    border: none !important;
  }

  .sidebar {
    border-right: none !important;
  }
  .timeline {
    border-right: none !important;
  }
}
